/*=============== 
MEDIA QUERYS
==================*/

html {
  font-size: 50%;
}

@media (max-width: 680px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .hero .container img {
    order: -1;
    margin-top: -3rem;
    margin-bottom: 6rem;
  }

  .form-group {
    display: block;
  }

  .form-group input {
    width: 95%;
  }
}

@media (max-width: 590px) {
  header nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: .3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 6px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #7159c1;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 18px;
    top: 13px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    -webkit-transform: rotate(-45deg) translate(8px, -9px);
    -ms-transform: rotate(-45deg) translate(8px, -9px);
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section nav ul {
    display: block;
    text-align: center;
  }

  .menu-section nav a {
    transition-duration: .5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
}

@media (max-width: 320px) {
  #form h3 {
    font-size: 2rem;
  }
}